---
const currentYear = new Date().getFullYear();
---

<footer class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t dark:border-t-gray-500 dark:bg-gray-800">
  <p class="text-xs text-gray-500 dark:text-gray-400">© {currentYear} Suri App. All rights reserved.</p>
	<nav class="sm:ml-auto flex gap-4 sm:gap-6">
    <a class="text-xs hover:underline underline-offset-4 dark:text-gray-200" href="/terms">Terms of Service</a>
    <a class="text-xs hover:underline underline-offset-4 dark:text-gray-200" href="/privacy">Privacy</a>
	</nav>
</footer>
