---
import { Image } from 'astro:assets'
---

<section
  class="w-full flex justify-center py-12 md:py-24 lg:py-32 bg-gray-100 dark:bg-gray-800"
>
  <div class="container px-4 md:px-6">
    <h2
      class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-center mb-8 dark:text-gray-100"
    >
      App Screenshots
    </h2>
    <div class="flex justify-center space-x-4 lg:space-x-10 overflow-hidden">
      <Image
        src="/screenshot1.png"
        alt="Suri App Screenshot 1"
        class="rounded-lg mix-blend-multiply dark:mix-blend-normal object-cover"
        width={200}
        height={400}
      />
      <Image
        src="/screenshot2.png"
        alt="Suri App Screenshot 2"
        class="rounded-lg mix-blend-multiply dark:mix-blend-normal object-cover"
        width={200}
        height={400}
      />
      <Image
        src="/screenshot3.png"
        alt="Suri App Screenshot 3"
        class="rounded-lg mix-blend-multiply dark:mix-blend-normal object-cover"
        width={200}
        height={400}
      />
    </div>
  </div>
</section>
